

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    
}
span {
    color: #2e2f42;
}
.list {
    color:#2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.list:hover {
    color:#404bbf;
}
.list:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}
.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}
.contacts:hover {
    color: #404bbf;
}
.contacts:focus {
    color: #404bbf;
}

.first-section {
    background-color: #2e2f42;
}
.main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.order-service-button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.order-service-button:hover {
    background-color: #404BBF;
}
.order-service-button:focus {
    background-color: #404BBF;
}
.third-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.text-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.third-section {
    background-color: #F4F4FD;
}
.second-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.third-section {
    background-color: #F4F4FD;
}
.list-team {
    background-color: #FFFFFF;
}
.footer {
    background-color: #2e2f42;
}
.one-span {
    color: #f4f4fd;
    
}
.p-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
:root {
    --text-color: #F4F4FD;
}

.p-footer {
    color: var(--text-color);
}
ul li {
list-style-type: none;
}

